<template>
  <div>
    <h3>{{ task.title }}</h3>
      <button class="pure-button" title="Delete" @click="deleteTask(task)">
        X
      </button>
    <ul>
      <li v-for="label of task.labels" class="label" :class="[label.color]">
        {{ label.name }}
      </li>
    </ul>
    <div class="pure-button-group" role="group" aria-label="...">
      <button v-if="task.groupId > 0"
              class="pure-button" 
              title="DO IT!"
              @click="doNow(task)">
        Do Now
      </button>
      <button v-for="g of groups"
              :class="{ 'pure-button-active': g.id == task.groupId }"
              class="pure-button" 
              :title="g.name"
              @click="changeGroup(task, g)">
        {{ g.abbrv }}
      </button>
    </div>
  </div>
</template>
// **PLEASE NOTE** All "Nuxt Class Components" require at minimum a script tag that exports a default object
<script lang="ts">
  import Vue from "vue"
  import Component from "nuxt-class-component"
  import { Prop } from "vue-property-decorator"

  import Bus from "../modules/Bus"
  import { Group } from "../modules/Group"
  import { Task } from "../modules/Task"

  @Component({})
  export default class TtTask extends Vue {
    @Prop() task: Task
    @Prop() groups: Group[]

    changeGroup (task, newGroup) {
      Bus.$emit('changeGroup', task, newGroup);
    }
    deleteTask (task) {
      Bus.$emit('deleteTask', task);
    }
    doNow (task) {
      Bus.$emit('deleteTask', task);      
      Bus.$emit('doNow', task);
    }
  }
</script>