<template>
  <div>
    <tt-task v-for="t of tasks"
             :task="t"
             :key="t.id"
             :groups="groups">
    </tt-task>
  </div>
</template>
// **PLEASE NOTE** All "Nuxt Class Components" require at minimum a script tag that exports a default object
<script lang="ts">
import Vue from "vue"
import Component from 'nuxt-class-component'
import { Prop } from 'vue-property-decorator'

import { Task } from '../modules/Task'
import { Group } from '../modules/Group'
import TtTask from '~components/TtTask'


@Component({
  components: {
    TtTask
  }
})
export default class TtTaskList extends Vue {
  @Prop() tasks: Task[]

  groups: Group[] = [
    {
      id: 1,
      name: 'today',
      abbrv: 't'
    }, {
      id: 2,
      name: 'week',
      abbrv: 'w'
    }, {
      id: 3,
      name: 'month',
      abbrv: 'm'
    }, {
      id: 4,
      name: 'whenever',
      abbrv: 'w/e'
    }
  ];
}
</script>