<template>
  <div>
    <template v-if="tasks.current">
      <h1>Doing now</h1>
      <tt-task :task="tasks.current" :groups="groups"></tt-task>
    </template>
    <h1 v-if="!tasks.current">What's next?</h1>
    
    <h2>Today</h2>
    <tt-task-list :tasks="tasks.today"></tt-task-list>
    
    <h2>This Week</h2>
    <tt-task-list :tasks="tasks.week"></tt-task-list>
    
    <h2>This Month</h2>
    <tt-task-list :tasks="tasks.month"></tt-task-list>
    
    <h2>Whenever</h2>
    <tt-task-list :tasks="tasks.whenever"></tt-task-list>

    <form @submit.prevent="tasks.today.push(JSON.parse(JSON.stringify(newTask))); newTask.title = '';">
      <input type="text" v-model="newTask.title">
    </form>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'nuxt-class-component'
  
  import { Group } from "../modules/Group"
  import { Task } from '../modules/Task'
  import { TaskOverview } from '../modules/TaskOverview'
  
  import TtTask from '~components/TtTask'
  import TtTaskList from '~components/TtTaskList'
  import Bus from "../modules/Bus"


  @Component({
    components: {
      TtTask,
      TtTaskList
    },
    created () {
        Bus.$on('changeGroup', (task, newGroup) => {
          console.log(3);
          let oldGroup;

          for (const g of this.groups) {
            if (g.id === task.groupId) {
              oldGroup = g;
            }
          }

          if (!oldGroup) {
            this.tasks.current = null;
          }

          for (let i = 0; oldGroup && i < this.tasks[oldGroup.name].length; i++) {
            const t = this.tasks[oldGroup.name][i];
            if (t.id === task.id) {
              this.tasks[oldGroup.name].splice(i, 1);
              break;
            }
          }
          task.groupId = newGroup.id;
          this.tasks[newGroup.name].push(task);

          console.log(this.tasks);
        });

        Bus.$on('deleteTask', (task) => {
          console.log(3);
          let oldGroup;

          for (const g of this.groups) {
            if (g.id === task.groupId) {
              oldGroup = g;
            }
          }

          if (!oldGroup) {
            return;
          }

          for (let i = 0; i < this.tasks[oldGroup.name].length; i++) {
            const t = this.tasks[oldGroup.name][i];
            if (t.id === task.id) {
              this.tasks[oldGroup.name].splice(i, 1);
              break;
            }
          }
        });

        Bus.$on('doNow', (task) => {
          task.groupId = 0;
          this.tasks.current = JSON.parse(JSON.stringify(task));
        });
      }
  })
  export default class extends Vue {
    tasks: TaskOverview = {
      current: null,
      today: [{
      id: 1,
      title: 'test',
      labels: [],
      groupId: 1
    }],
      week: [],
      month: [],
      whenever: [],
    };

    newTask: Task = {
      id: 2,
      title: '',
      labels: [],
      groupId: 0
    };

    groups: Group[] = [
      {
        id: 1,
        name: 'today',
        abbrv: 't'
      }, {
        id: 2,
        name: 'week',
        abbrv: 'w'
      }, {
        id: 3,
        name: 'month',
        abbrv: 'm'
      }, {
        id: 4,
        name: 'whenever',
        abbrv: 'w/e'
      }
    ];
  }
</script>